<div class="description">
  <!-- <img class="description__bg" src="images/crosses.svg" /> -->
  <div class="description__bg">
    <svg
      width="564"
      height="160"
      viewBox="0 0 564 160"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g opacity="0.1">
        <g clip-path="url(#clip0_317_154)">
          <path
            d="M160 132.853L107.166 80.0096L159.981 27.1756L132.834 0L79.9904 52.834L27.1564 0L0 27.1756L52.8148 80.0096L0 132.844L27.1756 160L79.9904 107.166L132.805 160L160 132.853Z"
            fill="#C2FF4E"
          />
        </g>
        <g clip-path="url(#clip1_317_154)">
          <path
            d="M362 132.853L309.166 80.0096L361.981 27.1756L334.834 0L281.99 52.834L229.156 0L202 27.1756L254.815 80.0096L202 132.844L229.176 160L281.99 107.166L334.805 160L362 132.853Z"
            fill="#C2FF4E"
          />
        </g>
        <g clip-path="url(#clip2_317_154)">
          <path
            d="M564 132.853L511.166 80.0096L563.981 27.1756L536.834 0L483.99 52.834L431.156 0L404 27.1756L456.815 80.0096L404 132.844L431.176 160L483.99 107.166L536.805 160L564 132.853Z"
            fill="#C2FF4E"
          />
        </g>
      </g>
      <defs>
        <clipPath id="clip0_317_154">
          <rect width="160" height="160" fill="white" />
        </clipPath>
        <clipPath id="clip1_317_154">
          <rect
            width="160"
            height="160"
            fill="white"
            transform="translate(202)"
          />
        </clipPath>
        <clipPath id="clip2_317_154">
          <rect
            width="160"
            height="160"
            fill="white"
            transform="translate(404)"
          />
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="description-section">
    <div class="container">
      <img class="description-section__icon" src="icons/descr-icon1.svg" />
      <div #animatedText class="animated-text typo-heading-2xl">
        Це не черговий марафон стрункості і навіть не чергова обіцянка твого
        магічного перевтілення
      </div>
    </div>
  </div>
  <div class="description-section">
    <div class="container">
      <img class="description-section__icon" src="icons/descr-icon2.svg" />
      <div #animatedText class="animated-text typo-heading-2xl">
        ніяких Знущань над собою, секретів схуднути на мільйон кілограмів за дві
        хвилини і за два присідання теж.
      </div>
    </div>
  </div>
  <div class="description-section">
    <div class="container">
      <img class="description-section__icon" src="icons/descr-icon3.svg" />
      <div #animatedText class="animated-text typo-heading-2xl">
        Жодних дихальних вправ на любов до себе і Всесвіту, порад як почувати
        себе у своєму чи чужому тілі.
      </div>
    </div>
  </div>
  <div class="description-section description-section--pinned">
    <div class="container">
      <img class="description-section__icon" src="icons/descr-icon4.svg" />
      <div #animatedText class="animated-text typo-heading-2xl">
        Навіть без мотивуючих і супер надихаючих цитат про розумний фітнес.
      </div>
    </div>
  </div>
  <div class="match-section">
    <div class="match">
      <div class="container">
        <div class="match__main typo-heading-4xl">
          тож, якщо ти ще тут, то ми <span>зметчились</span>
        </div>
      </div>
      <app-description-match-line />
    </div>
  </div>
</div>
