<div class="intro">
  <div class="intro__header">
    <div class="container">
      <img class="intro__logo" src="images/logo-accent.svg" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="intro__main">
      <div class="intro-text">
        <div class="intro-text__subtitle typo-heading-sm">
          <span class="typo-color-accent">KINDNESSFIT</span> - це коли
        </div>
        <h1 class="typo-heading-3xl">
          тренуєшся, допомагаєш, надихаєш на
          <span class="typo-color-accent">kindness</span> і почуваєшся
          <span class="typo-color-accent">fit</span>
        </h1>
      </div>
      <div class="intro__footer">
        <div>
          <app-button text="Записатися"></app-button>
        </div>
        <div class="intro-charity">
          <div class="intro-charity__text typo-heading-xs">
            благодійний<br />проект
          </div>
          <img class="intro-charity__icon" src="images/heart-ukr.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="test"></div>
<div class="wrap">
  <section class="section section--train" #section>
    <div class="section__text">тренуємося</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="348"
      height="826"
      viewBox="0 0 348 826"
      fill="none"
      class="line pinned"
    >
      <path
        curvedLine
        triggerSectionClass="section--train"
        id="curve"
        d="M388.41 0.475586C388.41 314.976 67.41 271.976 18.4098 522.976C-7.68265 656.633 194.41 790.476 317.41 617.976C399.766 502.476 604.91 360.576 702.91 474.976C825.41 617.976 716.91 760.976 827.41 810.976"
        stroke="#C2FF4E"
        stroke-width="32"
      />
      <text
        appCurvedText
        text="Support Ukraine"
        triggerSectionClass="section--train"
        curveId="curve"
        class="text"
      ></text>
    </svg>
  </section>
  <section class="section section--charity" #section>
    <div class="section__text">
      збираємо гроші <br />
      на благодійність
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 594"
      fill="none"
      class="line pinned"
    >
      <path
        curvedLine
        triggerSectionClass="section--charity"
        id="curve2"
        d="M-18.7628 345.033C-17.7628 470.533 104.237 574.033 215.737 574.033C327.237 574.033 429.237 474.033 669.237 474.033C909.237 474.033 1051.74 649.033 1183.24 543.033C1314.74 437.033 1284.24 -5.96654 1462.74 17.5335"
        stroke-width="32"
        stroke="#0066da"
      />
      <text
        appCurvedText
        text="Support Ukraine"
        triggerSectionClass="section--charity"
        curveId="curve2"
        class="text"
      ></text>
    </svg>
  </section>
  <section class="section section--help" #section>
    <div class="section__text">допомагаємо</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1440"
      height="538"
      viewBox="0 0 1440 538"
      fill="none"
      class="line pinned"
    >
      <path
        curvedLine
        triggerSectionClass="section--help"
        id="curve3"
        d="M1513.24 317.314C1369.24 324.314 1293.24 14.8143 1189.24 16.8143C1085.24 18.8143 1047.74 339.314 842.745 283.814C637.745 228.314 430.745 109.314 287.745 207.314C144.745 305.314 104.745 564.314 -78.7551 515.814"
        stroke="#FFD02F"
        stroke-width="32"
      />
      <text
        appCurvedText
        text="Support Ukraine"
        triggerSectionClass="section--help"
        curveId="curve3"
        class="text"
      ></text>
    </svg>
  </section>
</div>
<div class="test"></div> -->
