html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  @extend .typo-body-md-regular;
  color: var(--color-text-light-primary);
  background-color: var(--color-bg-dark-primary);
}

button {
  cursor: pointer;
}
